.nav-bar{
    display: flex;
    height: 55px;
    background-color: #004F44;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-logo{
    width: 160px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.nav-logo:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 4px 8px rgba(255, 255, 255, 0.2));
}

.search-wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 500px;
    justify-content: center;
    margin: 0 15px;
}

.nav-search {
    width: 100%;
    height: 40px;
    min-width: 50px;
    color: #111111;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: Arial, sans-serif;
}

.nav-search:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(229, 169, 60, 0.4); 
}

.nav-search::placeholder {
  font-family: Arial, sans-serif;
  color: #888888;
}

.nav-search-button{
    width: 65px;
    height: 40px;
    font-size: 15px;
    background-color: #E5A93C;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 0px;
    cursor: pointer;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.nav-search-button:hover {
  background-color: #C78E2B;
}

.returns-and-orders{
    color: white;
    cursor: pointer;
}

.orders-text{
    font-weight: bolder;
}



.cart-icon {
    width: 40px;
    filter: invert(1);
    transition: transform 0.2s ease;
    margin: 0;
}

.cart-icon:hover {
  transform: scale(1.1);
}

.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45px;
}

.cart-count {
    width: 24px;
    height: 24px;
    background-color: #E5A93C;
    border-radius: 50%;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    font-size: 15px;
    font-weight: 800;
    color: #000000;
}

@media (max-width: 600px) {
    .nav-bar {
        flex-wrap: wrap;
        height: auto;
        gap: 10px;
    }

    .search-wrapper {
        order: 3;
        max-width: 100%;
        width: 100%;
        margin: 0;
    }
    
    .nav-logo {
        width: 120px;
    }
}